name: gh-pages

on:
  push:
    branches:
      - main

concurrency:
  group: gh-pages
  cancel-in-progress: true

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Replace import path
        run: sed -i "s|import './src/index.ts';|import './index.js';|g" index.html

      - name: Prepare deployment directory
        run: |
          mkdir -p public
          cp index.html public
          cp dist/index.js public

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          build_dir: public
          target_branch: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
